<img width="681" height="771" alt="image" src="https://github.com/user-attachments/assets/08d3df25-1906-474b-abc4-46b04015022a" />

<img width="1441" height="1200" alt="image" src="https://github.com/user-attachments/assets/e693c1ef-5f7d-4af3-bac0-cafd784a2d1d" />

<img width="2559" height="1599" alt="image" src="https://github.com/user-attachments/assets/579bb80a-06be-4572-ba65-086bc786dae4" />
